.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position:fixed;
    top: 0;
    height: 60px;
    width: calc(100% - 250px);
    left: 250px;
}

.navbar-left {
    flex-grow: 1;
}

.organizer-label {
    font-style: italic;
    font-size: 16px;
}

.navbar-right li {
    padding-left: 100px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.navbar-right li:hover {
    color: gray;
}

.navbar-right li:active {
    color: darkgray;
}